In [1]:
#(1)_create a python program to sort the given list of tuples based on integer value using a lambda function.

In [13]:
L= [('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('virat kohli',24936)]

sorted_list = sorted(L, key=lambda x: x[1])
print(sorted_list)

[('virat kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [3]:
#(2)_write a python program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]

In [6]:
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#(3)_write a python program to convert the given list of integers into a tuple of strings. use map and lambda functions

In [23]:
l= [1,2,3,4,5,6,7,8,9,10]

In [37]:
tuple(map(str,l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
#(4)_write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [42]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [48]:
from functools import reduce

In [51]:
reduce(lambda x,y : x*y , l)

15511210043330985984000000

In [59]:
#(5)_write a python to filter the numbers in  a given list that are divisible by 2 and 3 using the filter function.

In [64]:
l1 = [2,3,6,9,27,60,90,120,55,46]

In [67]:
list(filter(lambda x : x%2 ==0 and x% 3==0 , l1))

[6, 60, 90, 120]

In [68]:
#(6)_write a python program to find palindromes in the given list of strings using lambda and filter function.

In [69]:
l2 = ['python','php','aba','radar','level']

In [71]:
list(filter(lambda x: (x== "".join(reversed(x))), l2))

['php', 'aba', 'radar', 'level']